@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-size: 16px !important; /* try 17px or 18px if you want */
  }
  body {
    @apply text-base;
  }
}

:root {
  /* Base (light mode) colors */
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  /* Primary color */
  --primary: 220, 100%, 36%;
  --primary-foreground: 0 0% 100%;

  /* Secondary, etc. */
  --secondary: 210 40% 96%;
  --secondary-foreground: 222.2 47.4% 11.2%;
}
