@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :host,
  html {
    font-size: 16px !important; /* try 17px or 18px if you want */
  }

  :host {
    @apply text-base;
    color: hsl(var(--foreground));
  }

  body {
    @apply text-base;
  }
}

:host,
:root {
  /* Base (light mode) colors */
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  /* Primary color */
  --primary: 220, 100%, 36%;
  --primary-foreground: 0 0% 100%;

  /* Secondary, etc. */
  --secondary: 210 40% 96%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 220, 100%, 36%;
}
